.totallatedayprogress-fullbar {
  height: 100%;
  min-height: 60px;
}
.totallatedayprogress-heading {
  font-size: x-large;
}
.totallatedayprogress-bar {
  /* Coloring for name column */ 
  background-color: gray;
  padding: 20px;
  /* Round box corners */
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  min-width: 200px;
}

.totallatedayprogress-info {
  /* Coloring for value column */ 
  background-color: lightgray;
  text-align: center;

  padding-left: 5px;
  padding-right: 5px;

  /* Center Text Vertically */
  display: flex;
  align-items: center;
  justify-content: center;
  /*padding-left: 20px; */

  /* Round box corners */
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}