/* Button that has all its button characteristics stripped */
.btn-stripped {
  padding: 0 !important;
  margin: 0 !important;
}

/* Container with max width */
.content-container {
  max-width: 800px;
  margin: auto;

  padding-left: 10px;
  padding-right: 10px;
}

/* The default crimson color */
.bg-crimson {
  background: #B30000 !important;
}

/* Place around content that appears below header */
.content-below-header {
  margin-top: 70px;
}
