.studentusageonassignmentview-header {
  /* Styles heading */
  font-size: 300%;
  text-align: center;
  margin-bottom: 30px;
}

.studentusageonassignmentview-container {
  padding-left: 10px;
  padding-right: 10px;
}
.studentusageonassignmentview-items {
  min-width: 600px;
  max-width: 1000px;
  margin: auto;

  padding-left: 10px;
  padding-right: 10px;
}