.assignmentoverusecontainer-heading {
  /* Set heading style for overuse container */
  font-size: 150%;
  text-align: center;
  font-weight: bold;
  color: #B30000;
}

.assignmentoverusecontainer-subheading {
  /* Set heading style for overuse container */
  font-size: 150%;
  text-align: center;
  color: #B30000;
}
