/* Styling for general item */
.itemrow-item {
  height: 60px;
}

/* Styling for the item name */
.itemrow-name {
  /* Coloring for name column */ 
  background-color: gray;

  /* Center Text Vertically */
  display: flex;
  align-items: center;
  padding-left: 20px;

  /* Round box corners */
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* Styling for the item row */
.itemrow-value  {
  /* Coloring for value column */ 
  background-color: lightgray;
  text-align: center;

  /* Center Text Vertically */
  display: flex;
  align-items: center;
  justify-content: center;
  /*padding-left: 20px; */

  /* Round box corners */
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.itemrow-dueAt {
  /* Coloring for dueAt column */ 
  background-color: #585858;
  text-align: center;
  color: white;

  /* Center Text Vertically */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Sets different color if used too many tokens */
.itemrow-overname {
  background-color: brown;
}

/* Sets different color for value if used too many tokens */
.itemrow-overvalue {
  background-color: lightcoral;
}