.Header-container {
  position: fixed;
  z-index: 100;

  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  text-align: center;
}

.Header-left-button {
  font-weight: bold !important;
  position: fixed;
  top: 8px;
  left: 5px;
}

.Header-right-button {
  font-weight: bold !important;
  position: fixed;
  top: 8px;
  right: 5px;
}
