.latedaysbystudentview-header {
  /* Styles heading for late days by student view */
  font-size: 300%;
  text-align: center;
  margin-bottom: 20px;
}
.latedaysbystudentview-container {
  margin: 30px;
}